        <form action="/login" method="POST">
          <fieldset>
            <input type="text" name="username" placeholder="username"><br>
              First name:<br>
            <input type="submit" value="Submit">
          </fieldset>
       </form>
