<!DOCTYPE html>
  <html lang="en">
      <head>
        <form action="/login" method="POST">
          <fieldset>
            <input type="text" name="username" value="username"><br>
              First name:<br>
            <input type="submit" value="Submit">
          </fieldset>
       </form>
     </head>
   </html>

