        <form action="/login" method="POST">
          <fieldset>
            <input type="text" name="username" placeholder="username"><br>
              First name:<br>
            <input type="submit" value="Submit">
          </fieldset>
       </form>
       <form action="/logout" method="POST" style="margin:10px, 0, 10px, 0;">
    <input type="submit" value="Log Out">
  </form>