<% include ./partials/_header %>

<h3>Put in your info n shit</h3>
<form action="/login" method="POST">
<legend>LOG THE FUCK IN</legend>
  <label for="">Enter an email:</label>
  <input id="email" type="email" name="email">
  <label for="">Enter your password:</label>
  <input id="password" type="password" name="password">
  <input type="submit" value="Login">
</form>
