<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <!-- Add your EJS code here -->

    <% for(var shorturl in urls) { %>
      <div><%= shorturl %> <%= urls[shorturl] %> </div>
      <a href="/urls/<%=shorturl%>">Edit</a>
      <form method="POST" action="/urls/<%=shorturl%>/delete"><button type="submit">Delete</button></form>
    <% } %>
</body>
</html>